$primaryTextColor : #a9508b;
$secondaryTextColor : white;
$thirdTextColor : #000000;
$fourthTextColor : #fffaf0;
$primaryBackgroundColor : #a9508b;
$secondaryBackgroundColor : #fffaf0;
$thirdBackgroundColor : #35424a;
$fourthBackgroundColor : #e6e6e6;
$fifthBackgroundColor : #d0f8b6;