html, body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #35424a;
  min-height: 70px;
  border-bottom: 4px #a9508b solid;
}

.header_left {
  margin-left: 10%;
  padding: 0.5em;
}

.header_left_text {
  font-weight: 700;
  font-size: 2rem;
  color: white;
}

.header_left_text_clarusway {
  color: #a9508b;
}

.header_right {
  display: block;
  margin: 2% 12vw 0 0;
}

.header_right_ul li {
  display: inline;
  padding-left: 25px;
}

.header_right_ul a {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
}

.header_right_ul a:hover {
  font-weight: 600;
}

#mySidenav {
  display: none;
}

#mySidenav a {
  position: absolute;
  /* Position them relative to the browser window */
  right: -90px;
  /* Position them outside of the screen */
  transition: 0.3s;
  /* Add transition on hover */
  padding: 15px;
  /* 15px padding */
  width: 100px;
  /* Set a specific width */
  text-decoration: none;
  /* Remove underline */
  font-size: 20px;
  /* Increase font size */
  color: white;
  /* White text color */
  border-radius: 5px 0 0 5px;
  /* Rounded corners on the top right and bottom right side */
  text-align: end;
}

#mySidenav a:hover {
  right: 0;
  /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#home {
  top: 20px;
  background-color: #a9508b;
}

#about {
  top: 80px;
  background-color: #a9508b;
}

#services {
  top: 140px;
  background-color: #a9508b;
}

.hero {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-image: url(../img/showcase.jpg);
  height: 400px;
}

.hero_headline {
  font-size: 2.8rem;
  height: 160px;
  margin-top: 10vh;
  color: #fffaf0;
}

.hero_headline h1 {
  text-align: center;
}

.hero_paragraph {
  width: 86%;
  color: #fffaf0;
  text-justify: distribute;
}

.hero_paragraph p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-block-start: 0;
  text-align: center;
  line-height: 25px;
}

.newsletter {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #35424a;
  min-height: 100px;
}

.newsletter_headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.newsletter_form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  color: white;
}

.newsletter_form form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.newsletter_form input {
  height: 30px;
  width: 250px;
  margin-right: 2px;
  margin-top: 2px;
}

.newsletter_form button {
  height: 35px;
  width: 120px;
  color: white;
  background-color: #a9508b;
  border: none;
  margin-top: 2px;
}

.logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.logo_HTML5_Markup, .logo_CSS3_Styling, .logo_Graphic_Design {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
}

.logo_HTML5_Markup p, .logo_CSS3_Styling p, .logo_Graphic_Design p {
  width: 330px;
  text-align: center;
  line-height: 25px;
}

.logo_HTML5_Markup img, .logo_CSS3_Styling img, .logo_Graphic_Design img {
  height: 100px;
}

.footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-top: 4px #a9508b solid;
  min-height: 150px;
}

.footer_paragraph {
  height: 38px;
}

.description {
  display: flex;
  flex-flow: row nowrap;
  min-height: 100vh;
  padding-top: 5vh;
}

.description_left {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding-left: 10%;
  padding-right: 3%;
}

.description_left h2 {
  margin-block-start: 0;
}

.description_left_p1 {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 25px;
  text-align: justify;
  padding: 0 1rem 1rem 0;
}

.description_left_p2 {
  background-color: #35424a;
  line-height: 25px;
  padding: 1rem;
  color: #fffaf0;
  text-align: justify;
}

.description_right {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  height: 40%;
  margin-right: 10%;
  background-color: #35424a;
  color: #fffaf0;
  padding-right: 2vw;
}

.description_right h2 {
  margin-block-start: 2rem;
  margin-inline-start: 2vw;
}

.description_right p {
  margin-block-start: 0;
  margin-inline-start: 2vw;
  margin-block-end: 6vh;
  line-height: 25px;
  text-align: justify;
}

.services_main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.services_main_boxes {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 5vh;
  width: 60%;
  min-width: 440px;
}

.services_main_boxes_design, .services_main_boxes_maintenance, .services_main_boxes_hosting {
  background-color: #d0f8b6;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: 1px rgba(41, 121, 54, 0.3) solid;
  min-height: 20vh;
  width: 90%;
  text-align: justify;
}

.services_main_form {
  background-color: #35424a;
  height: fit-content;
  padding: 1rem;
  margin-top: 2rem;
  color: white;
  line-height: 25px;
  width: 24%;
  min-width: 230px;
  margin-bottom: 5vh;
}

.services_main_form input {
  height: 1.5rem;
  width: 95%;
}

.services_main_form textarea {
  resize: none;
  width: 95%;
}

.services_main_form button {
  height: 35px;
  width: 80px;
  color: white;
  background-color: #a9508b;
  border: none;
}

@media (min-width: 730px) and (max-width: 825px) {
  .hero_headline {
    margin-top: 0;
  }
  .hero_paragraph {
    margin-top: 10vh;
  }
}

@media (max-width: 730px) {
  .description {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .description_left {
    margin-right: 5%;
  }
  .description_right {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    padding-left: 3%;
    padding-right: 5%;
    margin-left: 10%;
    margin-right: 8%;
    margin-block-end: 6vh;
  }
  .hero_headline {
    height: 130px;
    margin-top: 5vh;
    font-size: 2rem;
  }
  .hero_paragraph {
    margin-top: 10vh;
  }
  .services_main_boxes {
    margin-bottom: 0;
  }
  .services_main_form {
    width: 370px;
  }
}

@media (max-width: 910px) {
  .header_right {
    display: none;
  }
  #mySidenav {
    display: block;
  }
  .newsletter {
    min-height: 150px;
  }
  .newsletter_headline {
    width: 512px;
    align-items: center;
  }
  .newsletter_headline h2 {
    margin-block-end: 0;
  }
  .newsletter_form form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 440px) {
  .services_main_boxes {
    width: 50%;
    min-width: 350px;
  }
  .header_right {
    display: inherit;
    margin-right: 3vw;
  }
  .header_right_ul li {
    display: inline;
    padding-left: 18px;
  }
  .header_left_text {
    font-weight: 600;
    font-size: 1.5rem;
  }
  #mySidenav {
    display: none;
  }
}
